* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* $font-family-default: 'Roboto', Arial, sans-serif */
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: transparent;
  white-space: nowrap;
  text-decoration: none; }

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }

.select select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.045), inset 0 0 1px 1px rgba(255, 255, 255, 0.9); }

.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-1:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-1 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-1 {
      width: 100%; } }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-2:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-2 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-2 {
      width: 100%; } }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-3 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-3 {
      width: 100%; } }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-4 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-4 {
      width: 100%; } }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-5:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-5 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-5 {
      width: 100%; } }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-6 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-6 {
      width: 100%; } }

.col-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-7:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-7 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-7 {
      width: 100%; } }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-8:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-8 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-8 {
      width: 100%; } }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-9:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-9 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-9 {
      width: 100%; } }

.col-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-10:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-10 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-10 {
      width: 100%; } }

.col-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-11:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-11 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-11 {
      width: 100%; } }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    .col-12 {
      width: 50%;
      float: none;
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .col-12 {
      width: 100%; } }

@font-face {
  font-family: Gotham-Bold;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold") format("svg"); }
@font-face {
  font-family: Gotham-Book;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Gotham-Book/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg"); }
@font-face {
  font-family: Gotham-Thin;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Gotham-Thin/Gotham-Thin.eot");
  src: url("../fonts/Gotham-Thin/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Thin/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin/Gotham-Thin.ttf") format("truetype"), url("../fonts/Gotham-Thin/Gotham-Thin.svg#Gotham-Thin") format("svg"); }
.alert {
  border-radius: 2px;
  display: block;
  padding: 15px;
  margin: 20px 0; }

.alert-info {
  background: rgba(241, 196, 15, 0.2);
  border: 1px solid #927608; }

.row {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  overflow: auto;
  max-width: 100%; }

.control-group {
  display: block;
  margin-bottom: 10px; }
  .control-group label {
    display: inline-block; }
  .control-group input[type="checkbox"] {
    position: relative;
    float: left;
    margin: 7px 10px 0 0; }

.toggle input[type="checkbox"] {
  -webkit-transition: all, linear, 450ms;
  -moz-transition: all, linear, 450ms;
  transition: all, linear, 450ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: inline-block;
  outline: 0;
  width: 65px;
  height: 28px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.9); }
  @media screen and (max-width: 480px) {
    .toggle input[type="checkbox"] {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  .toggle input[type="checkbox"]:after {
    -webkit-transition: all, linear, 450ms;
    -moz-transition: all, linear, 450ms;
    transition: all, linear, 450ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 0;
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 0px;
    padding: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.7); }
  .toggle input[type="checkbox"]:checked {
    box-shadow: none;
    outline: 0;
    background: #3498db;
    border: 1px solid #e8e8e8; }
    .toggle input[type="checkbox"]:checked:after {
      box-shadow: none;
      display: block;
      outline: 0;
      top: -1px;
      left: 36px;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.7); }

.radio input[type="radio"] {
  -webkit-transition: all, linear, 300ms;
  -moz-transition: all, linear, 300ms;
  transition: all, linear, 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 0;
  border-radius: 50%;
  padding: 4px;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #e8e8e8; }
  .radio input[type="radio"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    border: 1px solid #3498db; }
    .radio input[type="radio"]:checked:after {
      outline: 0;
      position: relative;
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #3498db; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #5c5c5c;
  background: white;
  font: normal 100%/1.618 "Gotham-Book", sans-serif;
    font-border: 0; }
  @media screen and (max-width: 480px) {
    html, body {
      -ms-touch-start-action: manipulation;
      touch-action: manipulation;
      -webkit-touch-callout: none;
      -webkit-text-size-adjust: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: text; } }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important; }

.brand {
  color: white;
  font-weight: 600; }

.navbar {
  -webkit-transition: all, linear, 300ms;
  -moz-transition: all, linear, 300ms;
  transition: all, linear, 300ms;
  position: absolute !important;
  top: 0;
  left: 0;
  border-bottom: none !important;
  background: transparent !important; }
  .navbar ul li {
    float: right; }
    .navbar ul li a.changelog {
      -webkit-transition: all, linear, 300ms;
      -moz-transition: all, linear, 300ms;
      transition: all, linear, 300ms;
      display: inline-block;
      position: relative;
      top: 20px;
      padding: 8px 12px;
      color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 2px;
      font-size: 0.75em; }
      @media screen and (max-width: 480px) {
        .navbar ul li a.changelog {
          display: none; } }
      .navbar ul li a.changelog:hover {
        color: white;
        border-color: white; }

.svg-logo {
  margin-top: 20px;
  position: relative;
  width: 40px;
  height: 40px; }
  @media screen and (max-width: 480px) {
    .svg-logo {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      left: 50%; } }
  .svg-logo polygon, .svg-logo polyline {
    stroke: #1abc9c; }

.grid div[class^='col-'], .grid div[class*='col-'] {
  margin-right: 0;
  background: #3498db;
  height: 40px;
  color: white;
  padding: 10px; }
  .grid div[class^='col-']:nth-of-type(2n + 1), .grid div[class*='col-']:nth-of-type(2n + 1) {
    background: #258cd1; }
  @media screen and (max-width: 800px) {
    .grid div[class^='col-']:nth-of-type(odd), .grid div[class*='col-']:nth-of-type(odd) {
      float: left; } }
  @media screen and (max-width: 800px) {
    .grid div[class^='col-']:nth-of-type(even), .grid div[class*='col-']:nth-of-type(even) {
      float: right; } }

section {
  padding: 40px 0; }
  section:nth-of-type(even) {
    background: #f8f8f8; }

.prettyprint {
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto; }

.hero-unit-demo {
  background-image: -webkit-linear-gradient(rgba(23, 42, 113, 0.95), rgba(46, 127, 156, 0.9)), url("../img/bg-hero-unit.jpg");
  background-image: linear-gradient(rgba(23, 42, 113, 0.95), rgba(46, 127, 156, 0.9)), url("../img/bg-hero-unit.jpg");
  padding: 150px 0;
  height: 577px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (max-width: 480px) {
    .hero-unit-demo {
      padding: 80px 0 30px 0;
      height: auto; } }
  @media screen and (max-width: 480px) {
    .hero-unit-demo h1, .hero-unit-demo p {
      text-align: center; } }
  .hero-unit-demo .name {
    color: white;
    margin: 0;
    font-size: 3.125em;
    font-weight: 100;
    font-family: "Gotham-Thin", sans-serif; }
  .hero-unit-demo .tagline {
    color: #e6e6e6;
    margin-top: 0; }
    @media screen and (max-width: 480px) {
      .hero-unit-demo .tagline {
        font-size: 0.6875em; } }
  .hero-unit-demo .version {
    position: relative;
    text-align: center;
    display: block;
    font-size: 0.625em;
    text-shadow: 0 1px 2px #217dbb;
    color: #e6e6e6; }

.btn-view-examples {
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  padding: 20px 35px !important;
  background: transparent;
  font-size: 0.6875em;
  font-weight: 500; }

.btn-explore {
  background-color: #258cd1;
  background-image: -webkit-linear-gradient(#258cd1, #217dbb);
  background-image: linear-gradient(#258cd1, #217dbb);
  margin: 20px 5px 0 0;
  border: 1px solid #25516f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  letter-spacing: 1px;
  text-shadow: 0 2px 4px #217dbb;
  padding: 15px 35px !important;
  font-size: 0.6875em;
  font-weight: 500; }

.section-title {
  font-size: 2.25em; }

.hero-group {
  display: block; }

.bower-install {
  display: inline-block;
  border-radius: 2px;
  margin-top: 10px;
  overflow-y: auto;
  width: 435px;
  display: block;
  padding: 6px 10px;
  border: 8px solid rgba(255, 255, 255, 0.1);
  background: rgba(47, 53, 62, 0.7);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  @media screen and (max-width: 800px) {
    .bower-install {
      text-align: center;
      width: 100%; } }
  .bower-install span {
    top: 2px;
    position: relative;
    color: #ffcc2f;
    font-size: 0.6875em;
    font-weight: 600; }
    @media screen and (max-width: 800px) {
      .bower-install span {
        top: 0; } }

.bower-logo {
  -webkit-user-drag: none;
  width: 30px;
  margin-right: 8px;
  height: auto;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  @media screen and (max-width: 800px) {
    .bower-logo {
      display: none; } }

.wrapper {
  min-height: 100%;
  margin-bottom: -84px; }
  .wrapper:after {
    content: "";
    display: block;
    height: 84px; }

hr {
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(left, #f0f0f0 10%, #e6e6e6, #f0f0f0 90%);
  background-image: linear-gradient(to right,#f0f0f0 10%, #e6e6e6, #f0f0f0 90%);
  margin: 20px 0;
  display: block;
  border: 0;
  height: 1px;
  width: 100%; }

.footer .download {
  color: #3498db !important; }

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  position: relative;
  background: transparent;
  border: none; }
  .select select {
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(#fcfcfc, #f7f7f7);
    background-image: linear-gradient(#fcfcfc, #f7f7f7);
    -webkit-transition: all, linear, 300ms;
    -moz-transition: all, linear, 300ms;
    transition: all, linear, 300ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px none;
    padding: 15px 10px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    font-size: 0.75em;
    text-indent: 0.01px;
    text-overflow: ""; }
    .select select:focus {
      outline: 1px none;
      box-shadow: 0;
      border: 1px solid #3498db; }
  .select:after {
    height: 0;
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid gray;
    display: inline-block;
    content: "";
    top: 40px;
    right: 20px;
    position: absolute; }

.form-group {
  overflow: auto;
  display: block; }

input[type="text"], input[type="password"], input[type="number"], input[type="tel"] {
  -webkit-transition: all, linear, 300ms;
  -moz-transition: all, linear, 300ms;
  transition: all, linear, 300ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  background: #fcfcfc;
  border: 1px solid #e8e8e8; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 0;
    background: #f7fbfe;
    border: 1px solid #3498db; }

/*         // Disable iOS Zoom on Focus
 * @include breakpoint(mobile)
 *     font:
 *         size: 16px */
label {
  display: block;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 0.6875em;
  font-weight: 600; }
  label + span {
    display: block;
    color: #767676;
    font-size: 0.75em; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.full-width {
  width: 100%; }

.center-relative {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  left: 50%; }

.center-absolute {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.btn {
  -webkit-transition: all, linear, 300ms;
  -moz-transition: all, linear, 300ms;
  transition: all, linear, 300ms;
  padding: 12px 20px;
  color: white;
  border-radius: 2px;
  font-size: 0.875em;
  font-weight: 500; }
  @media screen and (max-width: 480px) {
    .btn {
      margin-bottom: 10px;
      width: 100%;
      float: none; } }

.btn-primary {
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(#fcfcfc, #f7f7f7);
  background-image: linear-gradient(#fcfcfc, #f7f7f7);
  color: #5c5c5c;
  border: 1px solid #e8e8e8; }

.btn-submit {
  background: #6bad42; }

.btn-important {
  background: #df4938; }

.btn-group {
  overflow: auto; }
  .btn-group input[type="radio"] {
    display: none; }
    .btn-group input[type="radio"] + label {
      background-color: #fcfcfc;
      background-image: -webkit-linear-gradient(#fcfcfc, #f7f7f7);
      background-image: linear-gradient(#fcfcfc, #f7f7f7);
      float: left;
      width: auto;
      text-align: center;
      cursor: pointer;
      margin: 0;
      display: inline-block;
      padding: 8px 25px;
      border-top: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8; }
    .btn-group input[type="radio"]:first-of-type + label {
      border-radius: 2px 0 0 2px !important; }
    .btn-group input[type="radio"]:last-of-type + label {
      border-right: 1px solid #e8e8e8;
      border-radius: 0 2px 2px 0 !important; }
    .btn-group input[type="radio"]:checked + label {
      color: white;
      background: #3498db;
      border: 1px solid #1d6fa5 !important;
      box-shadow: none; }

.navbar {
  -webkit-transition: all, linear, 300ms;
  -moz-transition: all, linear, 300ms;
  transition: all, linear, 300ms;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  overflow: auto;
  background: white;
  border-bottom: 1px solid #e8e8e8; }
  .navbar ul {
    max-width: 68em;
    margin: 0 auto;
    padding: 10px;
    list-style-type: none; }
    .navbar ul li {
      margin: 0;
      padding: 0;
      display: inline; }
      .navbar ul li a {
        text-decoration: none; }

.footer {
  display: block; }
  .footer ul {
    margin: 0;
    padding: 20px 0;
    list-style-type: none; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #5c5c5c;
        font-size: 0.6875em;
        font-weight: 600; }

.sticky-footer {
  height: 84px; }

.copyright {
  display: block;
  color: #999999;
  font-size: 0.75em; }
