.alert
    border-radius: $border-radius-default
    display: block
    padding: 15px
    margin: 20px 0

    &-info
        background: rgba(#F1C40F, 0.2)
        border: 1px solid darken(#F1C40F, 20%)