.container
    @include outer-container
    padding-left: 20px
    padding-right: 20px

.full-width
    @include fill-parent

.center-relative
    @include transform(translateX(-50%))
    position: relative
    left: 50%

.center-absolute
    @include transform(translateX(-50%))
    position: absolute
    left: 50%

.float-left
    float: left

.float-right
    float: right

.text-left
    text-align: left

.text-center
    text-align: center

.text-right
    text-align: right