.navbar
    @include fill-parent
    position: relative
    top: 0
    left: 0
    height: auto
    overflow: auto
    background: $white
    border-bottom: 1px solid #E8E8E8

    ul
        max-width: 68em
        margin: 0 auto
        padding: 10px
        overflow-x: auto
        list-style-type: none

        li
            margin: 0
            padding: 0 15px
            display: inline
            @include breakpoint(tablet)
                display: none
                padding: 0

            &:first-of-type
                padding-left: 0

            a
                @include transition(all, linear, $transition-duration-default)
                text-transform: uppercase
                color: lighten($dark-grey, 20%)
                text-decoration: none
                letter-spacing: 1px
                font:
                    size: $font-size-l0
                    family: 'Gotham-Bold'

                &:hover
                    color: $dark-grey