.toggle
    input[type="checkbox"]
        @include transition(all, linear, $transition-duration-default * 1.5)
        @include appearance(none)
        margin-left: 0
        margin-right: 0
        position: relative
        display: inline-block
        outline: 0
        width: 65px
        height: 28px
        cursor: pointer
        border: 1px solid $border-grey
        border-radius: 20px
        background: $light-grey
        box-shadow: 0 1px 1px rgba($white, 0.9)
        @include breakpoint(mobile)

            // Force Hardware Accel
            @include transform(translate3d(0,0,0))

        &:after
            @include transition(all, linear, $transition-duration-default * 1.5)
            @include appearance(none)
            outline: 0
            content: ''
            position: absolute
            display: block
            top: -1px
            left: 0px
            padding: 10px
            width: 6px
            height: 6px
            border-radius: 50%
            background: $white
            border: 1px solid $border-grey
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.7)

        &:checked
            box-shadow: none
            outline: 0
            background: $base-color
            border: 1px solid $border-grey

            &:after
                box-shadow: none
                display: block
                outline: 0
                top: -1px
                left: 36px
                border-radius: 50%
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.7)

