// Base Color - This color is used for inputs active states, radio buttons, checkboxes and most UI components.
$base-color: #3498DB

// Colors
$white: #FFFFFF
$brand-green: #6BAD42
$dark-grey: #5C5C5C
$border-grey: #E8E8E8
$brand-blue: #3498DB
$light-grey: #FCFCFC

// Border Radius
$border-radius-default: 2px

// Transitions
$transition-duration-default: 300ms

// Columns
$grid-index: 1 !global
$grid-columns: 12 !global

// Buttons
$button-transitions: true !default
$button-border: true !default

// Breakpoints
$breakpoint-mobile: 480px
$breakpoint-tablet: 800px
$breakpoint-desktop: 980px

// Font
/* $font-family-default: 'Roboto', Arial, sans-serif */
$font-family-default: 'Gotham-Book', sans-serif
$font-size-l0: em(12)
$font-size-l1: em(14)
$font-size-l2: em(16)
$font-size-l3: em(24)
$font-size-l4: em(36)
