// Colors
$exprecss-blue: #3498DB
$white: #FFFFFF
$brand-green: #6BAD42
$brand-red: #DF4938
$brand-yellow: ''
$dark-grey: #5C5C5C
$border-grey: #E8E8E8
$brand-blue: #3498DB
$light-grey: #FCFCFC
$brand-background-grey: #F8F8F8
$base-color: $exprecss-blue

// Links
$anchor-color: $exprecss-blue

// Border Radius
$border-radius-default: 2px

// Transitions
$transition-duration-default: 300ms

// Height Vars
$height-sticky-footer: 84px

// Columns
$grid-index: 1 !global
$grid-columns: 12 !global

// Breakpoints
$breakpoint-mobile: 480px
$breakpoint-tablet: 800px
$breakpoint-desktop: 980px

// Font
$golden-ratio: 1.618

$font-family-default: 'Gotham-Book', sans-serif
$font-size-l0: em(12)
$font-size-l1: em(14)
$font-size-l2: em(16)
$font-size-l3: em(24)
$font-size-l4: em(36)

// Z-Index
$z-index-card-title: 1030
$z-index-card-image: 1020
$z-index-navbar: 1000