%btn
    display: inline-block
    text-align: center
    vertical-align: middle
    cursor: pointer
    border: transparent
    white-space: nowrap
    text-decoration: none
    -ms-touch-action: manipulation
    touch-action: manipulation
    background-image: none
    margin-bottom: 0
    font:
        size: $font-size-14

%clearfix
    &:after, &:before
        content: ''
        display: table

    &:after
        clear: both

%box-shadow-default
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.045)

%text-shadow-default
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1)

%force-hardware-accel
    @include transform(translate3d(0, 0, 0))