.checkbox
    @include user-select(none)
    position: relative
    height: $wxh-checkbox
    margin-bottom: $px-gutter-small
    @include media(mobile)
        height: mobile-scale($wxh-checkbox)

    input[type="checkbox"]
        @include position(absolute, 0 null null 0)
        visibility: hidden
        width: $wxh-checkbox
        height: $wxh-checkbox
        margin: 0
        @include media(tablet)
            width: mobile-scale($wxh-checkbox)
            height: mobile-scale($wxh-checkbox)

        &:checked + label
            border: 1px solid $exprecss-blue
            background: $exprecss-blue

            &:after
                @include opacity(1)

    &-sidelabel
        position: relative
        float: left
        top: 4px
        height: 100%
        cursor: pointer
        padding-left: 8px
        margin-bottom: 0
        @include media(mobile)
            top: 8px

    &-input
        @include position(relative, 0 null null null)
        float: left
        width: $wxh-checkbox
        height: $wxh-checkbox
        cursor: pointer
        background: $light-grey
        border: 1px solid $border-grey
        border-radius: $border-radius-default
        overflow: hidden
        margin-bottom: 0
        @include media(mobile)
            width: mobile-scale($wxh-checkbox)
            height: mobile-scale($wxh-checkbox)

        &:after
            @include transition(transform, linear, 100ms)
            @include transform(rotate(-45deg))
            @include box-sizing(initial)
            @include opacity(0)
            position: absolute
            top: 5px
            left: 4px
            content: ''
            width: 9px
            height: 5px
            border: 3px solid $white
            border-top: none
            border-right: none
            background: transparent
            @include media(mobile)
                top: 7px
                left: 6px
                width: mobile-scale(11px)
                height: mobile-scale(6px)