.modal
    @include transform(translate(-50%, -50%))
    @include position(fixed, 50% null null 50%)
    @include transform-origin(0 0)
    @include backface-visibility(hidden)
    @extend %box-shadow-default
    @extend %force-hardware-accel
    z-index: $z-index-alpha + 1
    overflow-x: hidden
    height: auto
    width: $width-modal
    background: $white
    border-radius: $border-radius-large
    @include media(tablet)
        width: calc(100% - 40px)
    @include media(mobile)
        @include transform(translateX(-50%))
        @include transform-origin(initial)
        @include position(absolute, 20px null null 50%)
        overflow-y: scroll
        width: calc(100% - 40px)
        height: calc(100% - 40px)
        min-height: 300px
        box-shadow: 0 2px 10px rgba(black, 0.2)
        border-radius: 0

    // This is the transition class Angular adds when the element is in view
    &.ng
        &-enter
            @include animation(modal-open $ease-out-cubic $transition-modal-open)
            @include media(mobile)
                @include animation(modal-open-responsive $ease-out-cubic $transition-modal-open)

        &-leave
            @include animation(modal-hide $ease-in-cubic $transition-duration-default)
            @include media(mobile)
                @include animation(modal-close-responsive $ease-out-cubic $transition-duration-default)

    &-header
        @include padding(15px 20px)
        position: relative
        overflow: auto
        color: $header-grey
        letter-spacing: 1px
        text-transform: uppercase
        border-top: 1px solid $border-grey
        border-right: 1px solid $border-grey
        border-left: 1px solid $border-grey
        font-size: $font-size-14

        &.small
            @include padding(14px 20px)

        &-success, &-info, &-important
            color: $white

        &-success
            background: $brand-green

        &-info
            background: $exprecss-blue

        &-important
            background: $brand-red

        &-border-bottom
            border-bottom: 1px solid $border-grey

    &-body, &-footer
        @extend %clearfix

    &-body
        overflow: auto
        padding: $px-gutter-base
        overflow: auto
        border-top: 1px dotted $border-grey
        border-left: 1px solid $border-grey
        border-right: 1px solid $border-grey
        border-bottom: 1px dotted $border-grey
        @include media(mobile)
            border: 0

        &.border-no-header
            border-top: 1px solid $border-grey
            border-bottom: 1px solid $border-grey

        &.border-header
            border-bottom: 1px solid $border-grey

    p
        margin: 0 0 10px 0
        font:
            size: $font-size-14

    &-footer
        @include padding(15px 20px)
        overflow: auto
        margin: 0
        background: $background-grey
        border-left: 1px solid $border-grey
        border-right: 1px solid $border-grey
        border-bottom: 1px solid $border-grey
        @include media(mobile)
            position: absolute
            bottom: 0
            width: 100%
            border-radius: $border-radius-default

        .btn
            margin-bottom: 0px

        @include media(mobile)
            .btn
                margin-bottom: 10px

                &:last-of-type
                    margin-bottom: 0

    &-overlay
        @include position(fixed, 0 0 0 0)
        @extend %force-hardware-accel
        z-index: $z-index-alpha
        display: block
        overflow-y: scroll
        background: rgba($black, 0.7)

        &.ng
            &-enter
                @include transition(all $ease-out-cubic $transition-duration-default)
                @include opacity(0)

                &-active
                    @include opacity(1)

            &-leave
                @include transition(all $ease-in-cubic $transition-duration-default)
                @include opacity(1)

                &-active
                    @include opacity(0)