@-webkit-keyframes animate-description-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes animate-description-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes animate-description-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* @include keyframes(animate-hero-up)
 * 0%
 *     opacity: 1
 *
 * 100%
 *     height: 393px
 *     opacity: 1 */
@-webkit-keyframes animate-main-in {
  0% {
    -webkit-transform: translateY(60px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes animate-main-in {
  0% {
    -moz-transform: translateY(60px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1; } }
@keyframes animate-main-in {
  0% {
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes animate-group-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes animate-group-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes animate-group-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes animate-nav-in {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }
@-moz-keyframes animate-nav-in {
  0% {
    -moz-transform: translateX(-100px);
    opacity: 0; }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1; } }
@keyframes animate-nav-in {
  0% {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; } }
.animation-group-in {
  -webkit-animation: animate-group-in cubic-bezier(0.23, 1, 0.32, 1) 725ms;
  -moz-animation: animate-group-in cubic-bezier(0.23, 1, 0.32, 1) 725ms;
  animation: animate-group-in cubic-bezier(0.23, 1, 0.32, 1) 725ms;
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  animation-delay: 150ms; }

.animation-main-in {
  -webkit-animation: animate-main-in cubic-bezier(0.23, 1, 0.32, 1) 620ms;
  -moz-animation: animate-main-in cubic-bezier(0.23, 1, 0.32, 1) 620ms;
  animation: animate-main-in cubic-bezier(0.23, 1, 0.32, 1) 620ms; }

.animation-nav-in {
  -webkit-animation: animate-nav-in cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  -moz-animation: animate-nav-in cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  animation: animate-nav-in cubic-bezier(0.215, 0.61, 0.355, 1) 300ms; }

.hero-unit-demo {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

html, body {
  color: #788591;
  font-family: "proxima-nova-alt", sans-serif; }

p {
  margin: 0 0 10px; }

label {
  font-weight: 600; }

section {
  padding: 45px 20px 20px 20px;
  overflow: hidden;
  border-bottom: 1px solid #E7E7E7; }

pre {
  display: none; }

.description {
  -webkit-animation: animate-description-in cubic-bezier(0.215, 0.61, 0.355, 1) 600ms;
  -moz-animation: animate-description-in cubic-bezier(0.215, 0.61, 0.355, 1) 600ms;
  animation: animate-description-in cubic-bezier(0.215, 0.61, 0.355, 1) 600ms;
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms; }

.container-content {
  position: relative;
  z-index: 9999;
  margin-top: -40px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.045);
  border: 1px solid #E7E7E7;
  margin-bottom: 40px;
  border-radius: 2px; }
  @media screen and (max-width: 480px) {
    .container-content {
      margin-top: 0; } }

.wrapper {
  margin-bottom: -80px;
  background: #F3F5F6; }
  .wrapper:after {
    height: 80px; }

.subsection {
  padding-bottom: 20px; }

.pos-rel {
  position: relative; }

.navbar {
  background: #F9F9F9; }

.sidebar {
  position: relative;
  z-index: 9998;
  float: left;
  height: auto;
  margin-top: 30px;
  width: 153px;
  padding: 20px;
  margin-left: 20px; }
  .sidebar ul {
    border-left: 1px solid #E7E7E7; }
  .sidebar li {
    padding: 2px 0; }
    .sidebar li a {
      color: #6E7B87;
      padding: 0 20px;
      font-size: 14px;
      margin-left: -1px; }
    .sidebar li .download {
      color: #FFFFFF;
      padding: 4px 10px;
      background: #a5aeb6;
      border-radius: 2px;
      margin-left: 20px; }
  .sidebar .active {
    color: #3498DB;
    border-left: 1px solid #3498DB;
    font-weight: 600; }

.svg-logo {
  margin-top: 20px;
  position: relative;
  width: 40px;
  height: 40px; }
  @media screen and (max-width: 480px) {
    .svg-logo {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      left: 50%; } }
  .svg-logo polygon, .svg-logo polyline {
    stroke: rgba(255, 255, 255, 0.8); }

.grid div[class^='col-'], .grid div[class*='col-'] {
  margin-right: 0;
  background: #3498DB;
  height: 40px;
  color: #FFFFFF;
  padding: 10px; }
  .grid div[class^='col-']:nth-of-type(2n + 1), .grid div[class*='col-']:nth-of-type(2n + 1) {
    background: #258cd1; }
  @media screen and (max-width: 800px) {
    .grid div[class^='col-']:nth-of-type(odd), .grid div[class*='col-']:nth-of-type(odd) {
      float: left; } }
  @media screen and (max-width: 800px) {
    .grid div[class^='col-']:nth-of-type(even), .grid div[class*='col-']:nth-of-type(even) {
      float: right; } }

.prettyprint {
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto; }

#particles {
  position: absolute;
  top: 0;
  right: 0;
  height: 462px;
  width: 100%; }

.hero-unit-demo {
  /* @include animation(animate-hero-up $ease-in-out-quint 625ms) */
  /* @include animation-delay(2350ms) */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: height;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#2C3E50', endColorstr='#2C3E50');
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: -webkit-linear-gradient(rgba(44, 62, 80, 0.7), rgba(44, 62, 80, 0.7)), url("img/bg-new.jpg"); }
  @media screen and (max-width: 800px) {
    .hero-unit-demo {
      background-position: left center; } }
  @media screen and (max-width: 480px) {
    .hero-unit-demo {
      padding: 30px;
      height: auto; } }
  .hero-unit-demo h1 {
    line-height: 1.2em; }
  .hero-unit-demo p {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 480px) {
    .hero-unit-demo h1, .hero-unit-demo p {
      text-align: center; } }
  .hero-unit-demo .name {
    color: #FFFFFF;
    margin: 0;
    font-size: 50px;
    font-weight: 100; }
  .hero-unit-demo .tagline {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    margin-top: -4px;
    margin-bottom: 30px;
    font-size: 16px; }
    .hero-unit-demo .tagline p {
      color: #FFFFFF;
      height: 25px; }
    .hero-unit-demo .tagline #description-rotate {
      vertical-align: top;
      color: #d9d9d9; }
    @media screen and (max-width: 480px) {
      .hero-unit-demo .tagline {
        font-size: 11px; } }
  .hero-unit-demo .version {
    position: relative;
    text-align: center;
    display: block;
    font-size: 10px;
    text-shadow: 0 1px 2px #217dbb;
    color: #e6e6e6; }

@media screen and (max-width: 800px) {
  .btn-download-repo, .btn-view-examples {
    width: 100%;
    float: none; } }

.btn-download-repo, .btn-view-examples {
  letter-spacing: 1px;
  padding: 18px 34px;
  font-size: 11px;
  font-weight: 600; }

.btn-download-repo {
  color: #FFFFFF;
  text-shadow: 0 2px 4px #217dbb;
  background-image: -webkit-linear-gradient(#4aa3df, #217dbb);
  background-image: -moz-linear-gradient(#4aa3df, #217dbb);
  background-image: -o-linear-gradient(#4aa3df, #217dbb);
  background-image: linear-gradient(#4aa3df, #217dbb);
  border: 1px solid #124364;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2); }

.btn-view-examples {
  margin-left: 5px;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 800px) {
    .btn-view-examples {
      margin-left: 0; } }

.btn-toggle {
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  padding: 6px 10px;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  background: #3498DB;
  font-size: 11px;
  font-weight: bold; }

.hero-group {
  position: relative;
  z-index: 9999;
  display: block;
  opacity: 1; }

.bower-install {
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  overflow-y: auto;
  width: 378px;
  display: block;
  padding: 6px 10px;
  border: 8px solid rgba(255, 255, 255, 0.12);
  background: #2F353E;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  @media screen and (max-width: 800px) {
    .bower-install {
      text-align: center;
      width: 100%; } }
  .bower-install span {
    top: 2px;
    position: relative;
    color: #FFCC2F;
    letter-spacing: 1px;
    font-size: 11px; }
    @media screen and (max-width: 800px) {
      .bower-install span {
        top: 0; } }

.bower-logo {
  -webkit-user-drag: none;
  width: 30px;
  margin-right: 8px;
  height: auto;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  @media screen and (max-width: 800px) {
    .bower-logo {
      display: none; } }

.footer {
  height: auto; }
  .footer ul {
    border-top: 1px solid #E7E7E7;
    padding: 30px 0; }

.copyright {
  color: #5B6A77;
  font-size: 11px; }
  .copyright a {
    font-weight: 600; }

.input-default {
  font-family: "proxima-nova-alt", sans-serif; }

.section-title {
  display: block;
  color: #6E7B87;
  margin: 0 0 10px 0;
  font-size: 28px; }

.subtitle {
  display: block;
  color: #3498DB;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600; }

.setup pre {
  display: block; }
