// Import Bourbon
@import "../vendor/bourbon/dist/_bourbon"


// For Style Guide Only
// Colors
$exprecss-blue: #3498DB
$exprecss-grey: #6E7B87
$white: #FFFFFF
$brand-green: #6BAD42
$brand-red: #DF4938
$brand-yellow: ''
$dark-grey: #5C5C5C
$border-grey: #E7E7E7
$body-text-color: #5D687C
$brand-blue: #3498DB
$light-grey: #FCFCFC
$brand-background-grey: #F8F8F8
$base-color: $exprecss-blue
$asphalt: #2C3E50
$background-light-grey: #F3F5F6

// Links
$anchor-color: $exprecss-blue

// Border Radius
$border-radius-default: 2px

// Transitions
$transition-duration-default: 300ms

// Gutters
$px-gutter-small: 10px
$px-gutter-base: 20px

// Breakpoints
$breakpoint-mobile: 480px
$breakpoint-tablet: 800px
$breakpoint-desktop: 980px

$font-family-default: 'proxima-nova-alt', sans-serif
$font-size-12: 12px
$font-size-14: 14px
$font-size-16: 16px
$font-size-24: 24px
$font-size-36: 36px
$font-weight-thin: 100
$font-weight-light: 300
$font-weight-book: 400
$font-weight-semibold: 600
$font-weight-bold: 700

$px-gutter-small: 10px
$px-gutter-base: 20px

$height-footer: 80px

$animation-rotate-duration: 3050ms

// Name In
@include keyframes(animate-description-in)
    0%
        opacity: 0

    100%
        opacity: 1

/* @include keyframes(animate-hero-up)
    0%
        opacity: 1

    100%
        height: 393px
        opacity: 1 */

@include keyframes(animate-main-in)
    0%
        @include transform(translateY(60px))
        opacity: 0

    100%
        @include transform(translateY(0px))
        opacity: 1

@include keyframes(animate-group-in)
    0%
        opacity: 0

    100%
        opacity: 1

@include keyframes(animate-nav-in)
    0%
        @include transform(translateX(-100px))
        opacity: 0

    100%
        @include transform(translateX(0px))
        opacity: 1


.animation-group-in
    @include animation(animate-group-in $ease-out-quint 725ms)
    @include animation-delay(150ms)

.animation-main-in
    @include animation(animate-main-in $ease-out-quint 620ms)

.animation-nav-in
    @include animation(animate-nav-in $ease-out-cubic 300ms)

// Extends
%force-hardware-accel
    @include transform(translate3d(0, 0, 0))

// Mixins
@mixin breakpoint($point)
    @if $point == desktop
        @media screen and (min-width: $breakpoint-desktop)
            @content

    @else if $point == tablet
        @media screen and (max-width: $breakpoint-tablet)
            @content

    @else if $point == mobile
        @media screen and (max-width: $breakpoint-mobile)
            @content

    @else if $point == $point
        @media screen and (max-width: $point)
            @content

@mixin transition($arg1, $arg2, $arg3)
    -webkit-transition: $arg1, $arg2, $arg3
    -moz-transition: $arg1, $arg2, $arg3
    -o-transition: $arg1, $arg2, $arg3
    transition: $arg1, $arg2, $arg3

// Background Image
@mixin linear-gradient-image($g1, $g2, $bg-image)
    background-image: -webkit-linear-gradient($g1, $g2), url($bg-image)
    background-image: -moz-linear-gradient($g1, $g2), url($bg-image)
    background-image: -o-linear-gradient($g1, $g2), url($bg-image)
    background-image: linear-gradient($g1, $g2), url($bg-image)

html, body
    color: lighten($exprecss-grey, 4%)
    font-family: $font-family-default

p
    margin: 0 0 10px


label
    font-weight: 600

section
    padding: 45px 20px 20px 20px
    overflow: hidden
    border-bottom: 1px solid $border-grey

pre
    display: none

// Remove after dev
.container-content
    position: relative
    z-index: 9999
    margin-top: -$px-gutter-base * 2
    overflow: hidden
    background: $white
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.045)
    border: 1px solid $border-grey
    margin-bottom: $px-gutter-base * 2
    border-radius: 2px
    @include breakpoint(mobile)
        margin-top: 0

.wrapper
    margin-bottom: -($height-footer)
    background: $background-light-grey

    &:after
        height: $height-footer

.subsection
    padding-bottom: 20px

.pos-rel
    position: relative

.navbar
    background: #F9F9F9

.sidebar
    position: relative
    z-index: 9998
    float: left
    height: auto
    margin-top: 30px
    width: 153px
    padding: 20px
    margin-left: $px-gutter-base

    ul
        border-left: 1px solid $border-grey


    li
        padding: 2px 0

        a
            color: $exprecss-grey
            padding: 0 20px
            font-size: $font-size-14
            margin-left: -1px

        .download
            color: $white
            padding: 4px 10px
            background: lighten($exprecss-grey, 20%)
            border-radius: 2px
            margin-left: 20px

    .active
        color: $exprecss-blue
        border-left: 1px solid $exprecss-blue
        font-weight: $font-weight-semibold


.svg-logo
    margin-top: 20px
    position: relative
    width: 40px
    height: 40px
    @include breakpoint(mobile)
        -webkit-transform: translateX(-50%)
        -moz-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        position: relative
        left: 50%

    polygon, polyline
        stroke: rgba($white, 0.8)

.grid
    div[class^='col-'], div[class*='col-']
        margin-right: 0
        background: $brand-blue
        height: 40px
        color: $white
        padding: 10px

        &:nth-of-type(2n + 1)
            background: darken($brand-blue, 5%)

        &:nth-of-type(odd)
            @include breakpoint(tablet)
                float: left

        &:nth-of-type(even)
            @include breakpoint(tablet)
                float: right

.prettyprint
    width: 100%
    overflow-x: scroll
    overflow-y: auto

#particles
    position: absolute
    top: 0
    right: 0
    height: 462px
    width: 100%

.hero-unit-demo
    /* @include animation(animate-hero-up $ease-in-out-quint 625ms) */
    /* @include animation-delay(2350ms) */
    @extend %force-hardware-accel
    backface-visibility: hidden
    -webkit-backface-visibility: hidden
    will-change: height
    position: relative
    top: 0
    width: 100%
    height: 100%
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#{$asphalt}', endColorstr='#{$asphalt}')
    padding: 80px 0
    background:
        size: cover
        repeat: no-repeat
        position: bottom center
    background-image: -webkit-linear-gradient(rgba(#2c3e50, 0.7), rgba(#2c3e50, 0.7)), url("img/bg-new.jpg")

    @include breakpoint(tablet)
        background-position: left center
    @include breakpoint(mobile)
        padding: 30px
        height: auto

    h1
        line-height: 1.2em

    p
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.1)

    h1, p
        @include breakpoint(mobile)
            text-align: center

    .name
        color: $white
        margin: 0
        font:
            size: 50px
            weight: 100

    .tagline
        /* @include animation-delay(100ms) */
        margin-top: -4px
        margin-bottom: 30px
        font-size: $font-size-16

        p
            color: $white
            height: 25px

        @include breakpoint(mobile)
            font:
                size: 11px

    .version
        position: relative
        text-align: center
        display: block
        font-size: 10px
        text-shadow: 0 1px 2px darken($base-color, 10%)
        color: darken($white, 10%)

.btn-download-repo, .btn-view-examples
    @include breakpoint(tablet)
        width: 100%
        float: none

.btn-download-repo, .btn-view-examples
    letter-spacing: 1px
    padding: 18px 34px
    font:
        size: 11px
        weight: 600

.btn-download-repo
    color: $white
    text-shadow: 0 2px 4px darken($base-color, 10%)
    background-image: -webkit-linear-gradient(lighten($base-color, 5%), darken($base-color, 10%))
    background-image: -moz-linear-gradient(lighten($base-color, 5%), darken($base-color, 10%))
    background-image: -o-linear-gradient(lighten($base-color, 5%), darken($base-color, 10%))
    background-image: linear-gradient(lighten($base-color, 5%), darken($base-color, 10%))
    border: 1px solid darken($base-color, 30%)
    box-shadow: 0 1px 4px rgba(black, 0.1), inset 0 1px 0 rgba($white, 0.2)

.btn-view-examples
    margin-left: 5px
    color: $white
    background: transparent
    border: 1px solid rgba($white, 0.5)
    @include breakpoint(tablet)
        margin-left: 0

.btn-toggle
    position: relative
    display: inline-block
    color: $white
    padding: 6px 10px
    border-radius: 2px
    letter-spacing: 1px
    text-transform: uppercase
    margin-bottom: 10px
    background: $brand-blue
    font:
        size: 11px
        weight: bold

.hero-group
    position: relative
    z-index: 9999
    display: block
    opacity: 1

.bower-install
    margin-top: $px-gutter-small
    display: inline-block
    border-radius: $border-radius-default
    overflow-y: auto
    width: 378px
    display: block
    padding: 6px 10px
    border: 8px solid rgba(255, 255, 255, 0.12)
    background: #2F353E
    -webkit-background-clip: padding-box
    -moz-background-clip: padding-box
    background-clip: padding-box
    @include breakpoint(tablet)
        text-align: center
        width: 100%

    span
        top: 2px
        position: relative
        color: #FFCC2F
        letter-spacing: 1px
        font:
            size: 11px
        @include breakpoint(tablet)
            top: 0

.bower-logo
    -webkit-user-drag: none
    width: 30px
    margin-right: 8px
    height: auto
    display: inline-block
    float: left
    -webkit-user-select: none
    -moz-user-select: none
    user-select: none
    @include breakpoint(tablet)
        display: none

.footer
    height: auto

    ul
        border-top: 1px solid $border-grey
        padding: 30px 0

.copyright
    color: #5B6A77
    font-size: 11px

    a
        font-weight: 600

.input-default
    font:
        family: $font-family-default

.section-title
    display: block
    color: $exprecss-grey
    margin: 0 0 10px 0
    font:
        size: 28px

.subtitle
    display: block
    color: $exprecss-blue
    text-transform: uppercase
    letter-spacing: 1px
    font:
        size: $font-size-12
        weight: 600

.setup
    pre
        display: block