@-webkit-keyframes rotate-text {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes rotate-text {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes rotate-text {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes rotate-text {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  50% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0; } }
html, body {
  color: #788591;
  font-family: "proxima-nova-alt", sans-serif; }

.wrapper {
  margin-bottom: -80px; }
  .wrapper:after {
    height: 80px; }

label {
  font-weight: 600; }

.navbar-exprecss {
  width: 100%;
  position: relative;
  height: auto;
  overflow: auto;
  border-bottom: none;
  background: transparent; }
  .navbar-exprecss ul {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    list-style-type: none; }
    .navbar-exprecss ul .logo {
      float: left; }
      @media screen and (max-width: 480px) {
        .navbar-exprecss ul .logo {
          float: none;
          clear: both; } }
    .navbar-exprecss ul li {
      float: right; }
      .navbar-exprecss ul li a.changelog {
        -webkit-transition: all, linear, 300ms;
        -moz-transition: all, linear, 300ms;
        -o-transition: all, linear, 300ms;
        transition: all, linear, 300ms;
        text-decoration: none;
        display: inline-block;
        position: relative;
        float: right;
        top: 20px;
        padding: 8px 12px;
        color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 2px;
        font-size: 12px; }
        @media screen and (max-width: 480px) {
          .navbar-exprecss ul li a.changelog {
            display: none; } }
        .navbar-exprecss ul li a.changelog:hover {
          color: #FFFFFF;
          border-color: #FFFFFF; }

.pos-rel {
  position: relative; }

.sidebar {
  position: relative;
  float: left;
  height: auto;
  width: 241px;
  padding: 20px; }
  .sidebar li {
    padding: 2px 0; }
    .sidebar li a {
      color: #6E7B87;
      padding: 0 10px;
      font-size: 14px; }
  .sidebar .active {
    color: #3498DB;
    border-left: 2px solid #3498DB; }

.svg-logo {
  margin-top: 20px;
  position: relative;
  width: 40px;
  height: 40px; }
  @media screen and (max-width: 480px) {
    .svg-logo {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      left: 50%; } }
  .svg-logo polygon, .svg-logo polyline {
    stroke: rgba(255, 255, 255, 0.8); }

.grid div[class^='col-'], .grid div[class*='col-'] {
  margin-right: 0;
  background: #3498DB;
  height: 40px;
  color: #FFFFFF;
  padding: 10px; }
  .grid div[class^='col-']:nth-of-type(2n + 1), .grid div[class*='col-']:nth-of-type(2n + 1) {
    background: #258cd1; }
  @media screen and (max-width: 800px) {
    .grid div[class^='col-']:nth-of-type(odd), .grid div[class*='col-']:nth-of-type(odd) {
      float: left; } }
  @media screen and (max-width: 800px) {
    .grid div[class^='col-']:nth-of-type(even), .grid div[class*='col-']:nth-of-type(even) {
      float: right; } }

section {
  padding: 40px 0; }

.prettyprint {
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto; }

#particles {
  position: absolute;
  top: 0;
  right: 0;
  height: 562px;
  width: 100%; }

.hero-unit-demo {
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#2C3E50', endColorstr='#2C3E50');
  padding: 110px 0;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: -webkit-linear-gradient(180deg, rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.55)); }
  @media screen and (max-width: 800px) {
    .hero-unit-demo {
      background-position: left center; } }
  @media screen and (max-width: 480px) {
    .hero-unit-demo {
      margin-top: -89px;
      padding: 80px 0 30px 0;
      height: auto; } }
  .hero-unit-demo h1 {
    line-height: 1.2em; }
  .hero-unit-demo p {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 480px) {
    .hero-unit-demo h1, .hero-unit-demo p {
      text-align: center; } }
  .hero-unit-demo .name {
    color: #FFFFFF;
    margin: 0;
    font-size: 50px;
    font-weight: 100; }
  .hero-unit-demo .tagline {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px; }
    .hero-unit-demo .tagline p {
      color: #FFFFFF;
      height: 25px; }
    .hero-unit-demo .tagline #description-rotate {
      vertical-align: top;
      color: #d9d9d9; }
    @media screen and (max-width: 480px) {
      .hero-unit-demo .tagline {
        font-size: 11px; } }
  .hero-unit-demo .version {
    position: relative;
    text-align: center;
    display: block;
    font-size: 10px;
    text-shadow: 0 1px 2px #217dbb;
    color: #e6e6e6; }

@media screen and (max-width: 800px) {
  .btn-download-repo, .btn-view-examples {
    width: 100%;
    float: none; } }

.btn-download-repo {
  background-image: -webkit-linear-gradient(#258cd1, #217dbb);
  background-image: -moz-linear-gradient(#258cd1, #217dbb);
  background-image: -o-linear-gradient(#258cd1, #217dbb);
  background-image: linear-gradient(#258cd1, #217dbb);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#258CD1', endColorstr='#217DBB');
  border: 1px solid #25516F;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.15);
  letter-spacing: 1px;
  text-shadow: 0 2px 4px #217dbb;
  padding: 15px 35px !important;
  font-size: 11px;
  font-weight: 500; }

.btn-view-examples {
  margin-left: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  padding: 22px 35px !important;
  background: transparent;
  font-size: 11px;
  font-weight: 500; }
  @media screen and (max-width: 800px) {
    .btn-view-examples {
      margin-left: 0; } }

.hero-group {
  position: relative;
  z-index: 9999;
  display: block; }

.bower-install {
  display: inline-block;
  border-radius: 2px;
  overflow-y: auto;
  width: 410px;
  display: block;
  padding: 6px 10px;
  border: 8px solid rgba(255, 255, 255, 0.12);
  background: #2F353E;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  @media screen and (max-width: 800px) {
    .bower-install {
      text-align: center;
      width: 100%; } }
  .bower-install span {
    top: 2px;
    position: relative;
    color: #FFCC2F;
    font-size: 11px; }
    @media screen and (max-width: 800px) {
      .bower-install span {
        top: 0; } }

.bower-logo {
  -webkit-user-drag: none;
  width: 30px;
  margin-right: 8px;
  height: auto;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  @media screen and (max-width: 800px) {
    .bower-logo {
      display: none; } }

.footer {
  height: auto; }
  .footer ul {
    border-top: 1px solid #E8E8E8;
    padding: 30px 0; }

.copyright {
  color: #5B6A77;
  font-size: 11px; }
  .copyright a {
    font-weight: 600; }

.input-default {
  font-family: "proxima-nova-alt", sans-serif; }

.section-title {
  color: #6E7B87;
  margin: 0;
  font-size: 36px; }
