// For Style Guide Only
// Colors
$exprecss-blue: #3498DB
$white: #FFFFFF
$brand-green: #6BAD42
$brand-red: #DF4938
$brand-yellow: ''
$dark-grey: #5C5C5C
$border-grey: #E8E8E8
$brand-blue: #3498DB
$light-grey: #FCFCFC
$brand-background-grey: #F8F8F8
$base-color: $exprecss-blue

// Links
$anchor-color: $exprecss-blue

// Border Radius
$border-radius-default: 2px

// Transitions
$transition-duration-default: 300ms

// Breakpoints
$breakpoint-mobile: 480px
$breakpoint-tablet: 800px
$breakpoint-desktop: 980px

$font-size-l0: 12px
$font-size-l1: 14px
$font-size-l2: 16px
$font-size-l3: 24px
$font-size-l4: 36px

$animation-rotate-duration: 3050ms

// Import Gotham Fontface
@font-face
    font-family: Gotham-Bold
    font-weight: 600
    font-style: normal
    src: url("../fonts/Gotham-Bold/Gotham-Bold.eot")
    src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold") format("svg")

@font-face
    font-family: Gotham-Book
    font-weight: 400
    font-style: normal
    src: url("../fonts/Gotham-Book/Gotham-Book.eot")
    src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book") format("svg")

@font-face
    font-family: Gotham-Thin
    font-weight: 100
    font-style: normal
    src: url("../fonts/Gotham-Thin/Gotham-Thin.eot")
    src: url("../fonts/Gotham-Thin/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Thin/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin/Gotham-Thin.ttf") format("truetype"), url("../fonts/Gotham-Thin/Gotham-Thin.svg#Gotham-Thin") format("svg")

// Rotate Text In
@-webkit-keyframes rotate-text
    0%
        opacity: 0

    30%
        opacity: 1

    50%
        opacity: 1

    70%
        opacity: 1


    100%
        opacity: 0

@-moz-keyframes rotate-text
    0%
        opacity: 0

    30%
        opacity: 1

    50%
        opacity: 1

    70%
        opacity: 1


    100%
        opacity: 0

@-o-keyframes rotate-text
    0%
        opacity: 0

    30%
        opacity: 1

    50%
        opacity: 1

    70%
        opacity: 1


    100%
        opacity: 0

@-keyframes rotate-text
    0%
        opacity: 0

    30%
        opacity: 1

    50%
        opacity: 1

    70%
        opacity: 1


    100%
        opacity: 0

// Mixins
@mixin breakpoint($point)
    @if $point == desktop
        @media screen and (min-width: $breakpoint-desktop)
            @content

    @else if $point == tablet
        @media screen and (max-width: $breakpoint-tablet)
            @content

    @else if $point == mobile
        @media screen and (max-width: $breakpoint-mobile)
            @content

    @else if $point == $point
        @media screen and (max-width: $point)
            @content

@mixin transition($arg1, $arg2, $arg3)
    -webkit-transition: $arg1, $arg2, $arg3
    -moz-transition: $arg1, $arg2, $arg3
    -o-transition: $arg1, $arg2, $arg3
    transition: $arg1, $arg2, $arg3

// Background Image
@mixin linear-gradient-image($g1, $g2, $bg-image)
    background-image: -webkit-linear-gradient($g1, $g2), url($bg-image)
    background-image: -moz-linear-gradient($g1, $g2), url($bg-image)
    background-image: -o-linear-gradient($g1, $g2), url($bg-image)
    background-image: linear-gradient($g1, $g2), url($bg-image)

.node-depth
    *
        background-color: rgba(255,0,0,.2)
    * *
        background-color: rgba(0,255,0,.2)
    * * *
        background-color: rgba(0,0,255,.2)
    * * * *
        background-color: rgba(255,0,255,.2)
    * * * * *
        background-color: rgba(0,255,255,.2)
    * * * * * *
        background-color: rgba(255,255,0,.2)

.rotate-text
    -webkit-animation: rotate-text $animation-rotate-duration cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
    -moz-animation: rotate-text $animation-rotate-duration cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
    -o-animation: rotate-text $animation-rotate-duration cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite
    animation: rotate-text $animation-rotate-duration cubic-bezier(0.645,  0.045, 0.355, 1.000) infinite

.navbar-exprecss
    width: 100%
    position: relative
    height: auto
    overflow: auto
    border-bottom: none
    background: transparent

    ul
        max-width: 68em
        margin-left: auto
        margin-right: auto
        padding: 10px
        list-style-type: none

        .logo
            float: left
            @include breakpoint(mobile)
                float: none
                clear: both

        li
            float: right

            a.changelog
                @include transition(all, linear, 300ms)
                text-decoration: none
                display: inline-block
                position: relative
                float: right
                top: 20px
                padding: 8px 12px
                color: rgba($white, 0.8)
                border: 1px solid rgba($white, 0.3)
                border-radius: 2px
                font:
                    size: $font-size-l0
                @include breakpoint(mobile)
                    display: none

                &:hover
                    color: $white
                    border-color: $white


.svg-logo
    margin-top: 20px
    position: relative
    width: 40px
    height: 40px
    @include breakpoint(mobile)
        -webkit-transform: translateX(-50%)
        -moz-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        position: relative
        left: 50%

    polygon, polyline
        stroke: rgba($white, 0.8)

.grid
    div[class^='col-'], div[class*='col-']
        margin-right: 0
        background: $brand-blue
        height: 40px
        color: $white
        padding: 10px

        &:nth-of-type(2n + 1)
            background: darken($brand-blue, 5%)

        &:nth-of-type(odd)
            @include breakpoint(tablet)
                float: left

        &:nth-of-type(even)
            @include breakpoint(tablet)
                float: right

section
    padding: 40px 0

    &:nth-of-type(even)
        background: #F8F8F8

.prettyprint
    width: 100%
    overflow-x: scroll
    overflow-y: auto

.hero-unit-demo
    @include linear-gradient-image(rgba(#172A71, 0.95), rgba(#2E7F9C, 0.9), '../docs/img/bg-hero-unit.jpg')
    margin-top: -78px
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#1E3174', endColorstr='#3C859F')
    padding: 150px 0
    height: auto
    background:
        size: cover
        repeat: no-repeat
        position: center center
    @include breakpoint(mobile)
        margin-top: -89px
        padding: 80px 0 30px 0
        height: auto

    h1
        line-height: 1.2em

    p
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.1)

    h1, p
        @include breakpoint(mobile)
            text-align: center

    .name
        color: $white
        margin: 0
        font:
            size: 50px
            weight: 100
            family: 'Gotham-Thin', sans-serif

    .tagline
        margin-top: 0
        margin-bottom: 30px
        font-size: $font-size-l2

        p
            color: darken($white, 15%)
            height: 25px

        #description-rotate
            vertical-align: top
            color: darken($white, 15%)

        @include breakpoint(mobile)
            font:
                size: 11px

    .version
        position: relative
        text-align: center
        display: block
        font-size: 10px
        text-shadow: 0 1px 2px darken($base-color, 10%)
        color: darken($white, 10%)

.btn-download-repo, .btn-view-examples
    @include breakpoint(tablet)
        width: 100%
        float: none

.btn-download-repo
    background-image: -webkit-linear-gradient(darken($base-color, 5%), darken($base-color, 10%))
    background-image: -moz-linear-gradient(darken($base-color, 5%), darken($base-color, 10%))
    background-image: -o-linear-gradient(darken($base-color, 5%), darken($base-color, 10%))
    background-image: linear-gradient(darken($base-color, 5%), darken($base-color, 10%))
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#258CD1', endColorstr='#217DBB')
    border: 1px solid #25516F
    box-shadow: 0 1px 4px rgba(black, 0.1), inset 0 1px 0 rgba($white, 0.15)
    letter-spacing: 1px
    text-shadow: 0 2px 4px darken($base-color, 10%)
    padding: 15px 35px !important
    font:
        size: 11px
        weight: 500

.btn-view-examples
    margin-left: 5px
    border: 1px solid rgba($white, 0.5)
    letter-spacing: 1px
    color: rgba($white, 0.8)
    padding: 22px 35px !important
    background: transparent
    font:
        size: 11px
        weight: 500
    @include breakpoint(tablet)
        margin-left: 0

.hero-group
    display: block

.bower-install
    display: inline-block
    border-radius: $border-radius-default
    overflow-y: auto
    width: 407px
    display: block
    padding: 6px 10px
    border: 8px solid rgba(255, 255, 255, 0.1)
    background: rgba(#2F353E, 0.7)
    -webkit-background-clip: padding-box
    -moz-background-clip: padding-box
    background-clip: padding-box
    @include breakpoint(tablet)
        text-align: center
        width: 100%

    span
        top: 2px
        position: relative
        color: #FFCC2F
        font:
            size: 11px
            weight: 600
        @include breakpoint(tablet)
            top: 0

.bower-logo
    -webkit-user-drag: none
    width: 30px
    margin-right: 8px
    height: auto
    display: inline-block
    float: left
    -webkit-user-select: none
    -moz-user-select: none
    user-select: none
    @include breakpoint(tablet)
        display: none

.footer .btn-download
    @include transition(all, linear, 300ms)
    padding: 20px 32px
    border: 1px solid $base-color
    margin-bottom: 20px
    border-radius: 999px
    display: inline-block
    color: $base-color
    font:
        size: 10px
        weight: 600

    &:hover
        color: $white
        background: $base-color
